<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
  <style>
    .button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #0074D9; /* ボタンの背景色を指定 */
      color: #fff; /* テキストの色を指定 */
      text-decoration: none;
      border-radius: 5px; /* 角丸にする */
      font-weight: bold;
    }

    .button:hover {
      background-color: #0056A0; /* マウスオーバー時の背景色を指定 */
    }
  </style>
</head>
<body>


<% if(isAuth) { %>
  <div class="centered-content">
  <a href="/zeroone">zeroone!</a>
  <br>
  <a href="/countup">countup!</a>
  <br>
  <a href="/cricket">cricket!</a>
  <br>
  <a href="/logout">logout!</a>
  <br>
  <h2>Highest Countup Score: <%= highestCountupScore %></h2>
  <h2>Average Countup Score: <%= averageCountupScore %></h2>
  <h2>Average 01 Score: <%= average01Stats %></h2>
  <h2>Average Cricket Score: <%= averageCricketStats %></h2>
</div>

<% } else { %>
  <div class="centered-content">
    <h1>Welcome to the Darts_App</h1>
    <a href="/signup" class="button">Sign up</a>
    <br>
    <a href="/signin" class="button">Log in</a>
  </div>
<% } %>
</body>
</html>