<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
  <style>
    .button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #1abc9c; /* ボタンの背景色を指定 */
      color: #fff; /* テキストの色を指定 */
      text-decoration: none;
      border-radius: 5px; /* 角丸にする */
      font-weight: bold;
    }

    .button:hover {
      background-color: #12a789; /* マウスオーバー時の背景色を指定 */
    }

    nav {
  margin: 0px auto 0;

  position: relative;
  width: 590px;
  height: 50px;
  background-color: #b6babd;
  border-radius: 8px;
  font-size: 0;
}
nav a {
  line-height: 50px;
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
}
nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all .5s ease 0s;
  border-radius: 8px;
}
a:nth-child(1) {
  width: 100px;
}
a:nth-child(2) {
  width: 110px;
}
a:nth-child(3) {
  width: 100px;
}
a:nth-child(4) {
  width: 160px;
}
a:nth-child(5) {
  width: 120px;
}
nav .start-home, a:nth-child(1):hover~.animation {
  width: 100px;
  left: 0;
  background-color: #1abc9c;
}
nav .start-about, a:nth-child(2):hover~.animation {
  width: 100px;
  left: 100px;
  background-color: #1abc9c;
}
nav .start-blog, a:nth-child(3):hover~.animation {
  width: 120px;
  left: 200px;
  background-color: #1abc9c;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
  width: 120px;
  left: 330px;
  background-color: #1abc9c;
}
nav .start-contact, a:nth-child(5):hover~.animation {
  width: 120px;
  left: 470px;
  background-color: #1abc9c;
}

body {
  font-size: 12px;
  font-family: sans-serif;
  
}
h1 {
  text-align: center;
  margin: 40px 0 40px;
  text-align: center;
  font-size: 30px;
  color: #ecf0f1;
  text-shadow: 2px 2px 4px #000000;
  font-family: 'Cherry Swash', cursive;
}

p {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #ecf0f1;
    font-family: 'Cherry Swash',cursive;
    font-size: 16px;
}

span {
    color: #2BD6B4;
}
  </style>
</head>
<body>


<% if(isAuth) { %>
  <nav>
    <a href="/">Home</a>
    <a href="/zeroone">01</a>
    <a href="/countup">Count Up</a>
    <a href="/cricket">Cricket</a>
    <a href="/logout">Logout</a>
    <div class="animation start-home"></div>
    </nav>
<br>
  <div class="centered-content">
  <h2>Highest Countup Score: <%= highestCountupScore %></h2>
  <h2>Average Countup Score: <%= averageCountupScore %></h2>
  <h2>Average 01 Score: <%= average01Stats %></h2>
  <h2>Average Cricket Score: <%= averageCricketStats %></h2>
</div>

<% } else { %>
  <div class="centered-content">
    <h1>Welcome to the Darts_App</h1>
    <a href="/signup" class="button">Sign up</a>
    <br>
    <a href="/signin" class="button">Sign in</a>
  </div>
<% } %>
</body>
</html>